
#printhbox{
	
	-fx-padding: 55 5 5 20;
	-fx-spacing: 55;
	
	
}

#previewContainer{
	
	-fx-pref-width: 205;
	-fx-max-height: 160;
	-fx-padding: 10;
	-fx-alignment: center;
	-fx-border-insets: -5 5 5 -5;
	
}

#previewContainer:hover{
	
	-fx-border-color: blue;
	-fx-border-style: solid;
	-fx-border-width: 6;
	-fx-scale-x: 1.2;
	-fx-scale-y: 1.2;

}

#previewContainer_selected{
	
	-fx-pref-width: 205;
	-fx-max-height: 160;
	-fx-padding: 10;
	-fx-alignment: center;
	-fx-border-insets: -5 5 4 -5;
	-fx-border-color: yellow;
	-fx-border-style: solid;
	-fx-border-width: 6;
	
}

#vBox_1{
	
	-fx-spacing: 20;
	-fx-padding: 25;
	
	
}

#hBox_1{
	
	-fx-spacing: 25;
	-fx-pref-height: 220;
	-fx-pref-width: 800;
	
}

#printcertview{
	
	-fx-border-color: black;
	-fx-effect: dropshadow(gaussian, black, 20, 0.5, 2, 2);
	-fx-border-style: solid;
	-fx-background-color: linear-gradient(to bottom right, gray, black);
	-fx-max-height: 600;
	-fx-max-width: 700;
	
}

#studentlistview{
	-fx-background-color: transparent;
	-fx-min-height: 600;
	-fx-padding: 5;
}

#studentlistview .list-cell{
	
	-fx-font-size: 15;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-style: italic;
	-fx-background-color: transparent;
	-fx-alignment: center;
	-fx-padding: 5
	
}

#studentlistview .list-cell:hover{
	
	-fx-background-color: yellow;
	-fx-text-fill: black;
	-fx-scale-x: 1.1;
	-fx-scale-y: 1.1;
	
}

#studentlistview .list-cell:pressed{
	
	-fx-scale-x: .95;
	-fx-scale-y: .95;
	
}

#studentlistview .list-cell:selected{
	
	-fx-background-color: blue;
	
}

#studentlistview .list-cell:empty{
	
	-fx-background-color: transparent;
	
}

#leftshellpane{
	
	-fx-min-width: 350;
	-fx-min-height: 700;
	-fx-alignment: center;
	-fx-background-color: transparent;
	
}

#classadminview{
	
	-fx-spacing: 20;
	-fx-background-color: linear-gradient(to bottom right, gray, black);
	-fx-padding: 25;
	-fx-pref-width: 300;
	-fx-max-width: 300;
	-fx-max-height: 400;
	-fx-alignment: center;
	-fx-background-radius: 25;
	-fx-border-width: 3;
	-fx-border-style: solid;
	-fx-border-radius: 24;
	-fx-effect: dropshadow(gaussian, black, 15, .5, 0, 0);
	
}


#studentviewbox{
	-fx-spacing: 5;
	-fx-padding: 25 5 5 5;
	-fx-background-color: linear-gradient(to bottom right, gray, black);
	-fx-background-radius: 90;
	-fx-pref-height: 300;
	-fx-min-height: 700;
	-fx-max-height: 700;
	-fx-min-width: 300;
	-fx-pref-width: 300;
	-fx-border-radius: 90;
	-fx-border-width: 3;
	-fx-alignment: center;
	-fx-effect: innershadow(gaussian, black, 55, .8, 0, 0);
	
}

#background{
	
	-fx-background-color: linear-gradient(to bottom right, gray, black);
	-fx-border-style: solid;
	-fx-effect: innershadow(gaussian, white, 8, 0, 5, 5);

}

.button{
	
	-fx-pref-width: 150.0;
	-fx-pref-height: 45.0;
	-fx-background-radius: 20.0;
	-fx-background-color: linear-gradient(to bottom right, gray, black);
	-fx-text-fill: white;
	-fx-font-size: 15;
	-fx-font-weight: bold;
	-fx-effect:dropshadow(gaussian, black, 5, 0.5, 1, 1); 
}

.button:hover{
	-fx-background-color: linear-gradient(to bottom right, lightgray, black);
	-fx-border-style: solid;
	-fx-border-radius: 20;
	
}

.button:pressed{
	
	-fx-scale-x: .9;
	-fx-scale-y: .9;
	-fx-effect: innershadow(gaussian, black, 5, 0, 5, 5); 

}

#navButtonBox{
	
	-fx-background-color: linear-gradient(to bottom right, lightgray, black);
	-fx-alignment: top-center;
	-fx-spacing: 20.0;
	-fx-pref-width: 700.0;
	-fx-max-width: 700.0;
	-fx-background-radius: 0 0 25 30;
	-fx-min-height: 65;
	-fx-border-color: black;
	-fx-border-style: solid;
	-fx-border-width: 3;
	-fx-border-radius: 0 0 25 25;
	-fx-effect: dropshadow(gaussian, black, 15, 0.5, 0, 0);
	-fx-padding: 5;
	
}