
#leftshellpane{
	
	-fx-min-width: 350;
	-fx-min-height: 700;
	-fx-alignment: center;
	-fx-background-color: transparent;
	
}

#classadminview{
	
	-fx-spacing: 20;
	-fx-background-color: linear-gradient(to bottom right, gray, black);
	-fx-padding: 25;
	-fx-pref-width: 300;
	-fx-max-width: 300;
	-fx-max-height: 400;
	-fx-alignment: center;
	-fx-background-radius: 25;
	-fx-border-width: 3;
	-fx-border-style: solid;
	-fx-border-radius: 24;
	-fx-effect: dropshadow(gaussian, black, 15, .5, 0, 0);
	
}

#studentviewbox{
	
	-fx-background-color: linear-gradient(to bottom right, gray, black);
	-fx-background-radius: 90;
	-fx-pref-height: 300;
	-fx-min-height: 700;
	-fx-max-height: 700;
	-fx-min-width: 300;
	-fx-pref-width: 300;
	-fx-border-radius: 90;
	-fx-border-width: 3;
	-fx-effect: innershadow(gaussian, black, 55, .8, 0, 0);
	
}

#background{
	
	-fx-background-color: linear-gradient(to bottom right, gray, black);
	-fx-border-style: solid;
	-fx-effect: innershadow(gaussian, white, 8, 0, 5, 5);

}

.button{
	
	-fx-pref-width: 150.0;
	-fx-pref-height: 45.0;
	-fx-background-radius: 20.0;
	-fx-background-color: linear-gradient(to bottom right, gray, black);
	-fx-text-fill: white;
	-fx-font-size: 15;
	-fx-font-weight: bold;
}

.button:hover{
	-fx-background-color: linear-gradient(to bottom right, lightgray, black);
	-fx-border-style: solid;
	-fx-border-radius: 20;
	
}

.button:pressed{
	
	-fx-scale-x: .9;
	-fx-scale-y: .9;
	-fx-effect: innershadow(gaussian, black, 5, 0, 5, 5); 

}

#navButtonBox{
	
	-fx-background-color: linear-gradient(to bottom right, lightgray, black);
	-fx-alignment: top-center;
	-fx-spacing: 20.0;
	-fx-pref-width: 700.0;
	-fx-max-width: 700.0;
	-fx-background-radius: 0 0 25 30;
	-fx-min-height: 65;
	-fx-border-color: black;
	-fx-border-style: solid;
	-fx-border-width: 3;
	-fx-border-radius: 0 0 25 25;
	-fx-effect: dropshadow(gaussian, black, 15, 0.5, 0, 0);
	-fx-padding: 5;
	
}